.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#nav-control{
  overflow: hidden;
  width: 100%;
}

#logo-ingelectric{
  margin-left: 100px;
}

#icon-nav{
  position: relative;
  right:0px;
}
#navbarSupportedContent{
  right: 100px;
  position: absolute;
}

#navbarSupportedContent ul li{
  font-size: 20px;
  text-align: right;
}

#navbarSupportedContent ul li a.nav-link{
 color: rgba(255,255,255,.8); !important;
}

#navbarSupportedContent ul li a.nav-link:hover{
  color: #fff !important;
}

@media only screen and (max-width: 1200px) {
  #icon-nav{
  margin-left: 0px;
  }
}


@media only screen and (max-width: 1000px) {
  #icon-nav{
  margin-left: 0px;
  }
  #navbarSupportedContent{
  right: 0px;
  position: relative;
  }
}

@media only screen and (max-width: 500px) {
  #logo-ingelectric{
    margin-left: 0px;
    max-width: 200px;
  }
}